.center-align {
    display:block;
    text-align: center;
}
.section {
    display: inline-block;
    border-radius: 15px;
    background: #EEEEEE;
    padding: 10px;
    width: 169.7px;
}
.circle {
    border-radius: 50%;
    background: #9470DC;
    width: 166px;
    height: 166px;
}
.button {
    border-radius: 10px;
    background:#DDDDDD;
    display: block;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#wrapper {
    margin: 20px 30px;
    box-sizing: border-box;
    width: 800px;
}
#head-div {
    border-radius: 15px;
    background: #DDDDDD;
    display: block;
}
main >:nth-child(1) {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 5px;
}
main >:nth-child(2) {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
main >:nth-child(3) {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px
}
main >:nth-child(4) {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 5px;
}
#head-div>.center-align>header {
    font-size: 32px;
    color: #936DDC;
    text-shadow: 2px 2px 0px white;
    padding-top: 10px;
    padding-bottom:10px;
}
#here-comes-the-sun {
    color: #808080;
    padding-top: 20px;
    padding-bottom: 10px;
}
#here-comes-the-sun-2 {
    color: #808080;
    padding-top: 20px;
    padding-bottom: 10px;
}
#here-comes-the-sun-3 {
    color: #808080;
    padding-top: 20px;
    padding-bottom: 10px;
}
#here-comes-the-sun-4 {
    color: #808080;
    padding-top: 20px;
    padding-bottom: 10px;
}
.button>.center-align {
    font-size: 10px;
    font-weight: bold;
    padding-top:15px;
    padding-bottom: 15px;
}
a {
    text-decoration: none;
    color: #000000;
}
.button:hover {
    background: #ffffff;
}
.circle:hover {
    cursor: pointer;
    background:#ffffff;
    color: #936DDC !important;
}
.circle {
    font-weight: bold;
    font-size: 90px;
    position: relative;
    color: #ffffff;
}
.circle>span {
    position: relative;
    top:30px;
    left: 55px;
}
.button>.center-align {
    text-shadow: 2px 2px 0px white;
    color: #3C3141;
    font-weight: bold;
}
