body {
    padding: 0;
    margin: 0;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 14px;
}
.container {
    display: inline-block;
}
#wrapper {
    box-sizing: border-box;
    width: 1000px;
    margin: 50px;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    color: #354554;
}
main {
    background: #EEEEEE;
    padding: 20px;
}
img {
    width: 50px;
    height: 50px;
}
ul>a>li {
    font-weight: bold;
    padding-right: 25px;
    position: relative;
    list-style: none;
    display: inline-block;
    top: -20px;
}
header>div{
    background: #384452;
}
ul {
    padding-left: 0;
    margin: 0;
}
a {
    display: inline-block;
}
ul>a:nth-child(1) {
    background:#3BBC96;
}
ul>a:nth-child(1) {
    background:#3BBC96;
    color: #ffffff ;
}
ul>a:nth-child(2){
    color: #98B3BC;
}
ul>a:nth-child(3) {
    color: #98B3BC;
}
ul>a:nth-child(4) {
    color: #98B3BC;
}
.container {
    margin: 10px;
}
input {
    padding: 10px;
    height: 20px;
    width: 190px;
}
input[type=submit] {
    background:#3BBC96;
    border:none;
    color: #ffffff;
    height: 50px;
    width: 215px;
    border-radius: 2px;
}
input[type=submit]:hover {
    background:#384452;
    cursor: pointer;
}
