body {
    margin: 0;
    padding: 0;
    font-family: Calibri,Arial,sans-serif;
    font-size: 12px;
}
nav {
    font-size: 18px;
}
.subtitle {
    font-size: 26px;
}
.center-align>.subtitle {
    top: -20px;
    position: relative;
    color: #ffffff;
}
#header-title {
    font-size: 68px;
    font-family: "Oleo Script", sans-serif;
    color: #ffffff;
}
.center-align {
    display: block;
    text-align: center;
}
ul>li {
    list-style: none;
    display: inline-block;
    background: #ffffff;
    color: #50247D;
    font-weight: bold;
    padding: 10px 20px;
    margin: 3px;
}
@font-face {
    font-family: 'Oleo Script';
    font-style: normal;
    font-weight: 400;
    src: local('Oleo Script'), local('OleoScript-Regular'), url(http://fonts.gstatic.com/s/oleoscript/v5/_weQNDK6Uf40CiGFKBBUjo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/oleoscript/v5/_weQNDK6Uf40CiGFKBBUjobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
header {
    background-image: url("resourses/orion-gas-and-star-bgr.jpg");
    width: 1000px;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 10px solid #34A4D5;

}

#wrapper {
    background:#50247D;
    padding-left:50px;
    padding-right:50px;
}
ul>li:hover {
    background:#36A4D5;
    color: white;
    cursor: pointer;
}
/*--------------------------------------------*/
main {
    margin-top: 30px;
    width: 1000px;
    box-sizing: border-box;
    background: #EAE7EE;
    border-top: 10px solid #865AB3;
    border-bottom: 10px solid #35A5D3;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
}
footer>div {
    margin-top: 20px;
    color: #ffffff;
    padding-bottom: 20px;
}
#read-more {
    position: absolute;
    background: #36A4D5;
    color: white;
    padding: 5px 10px;
    top: 330px;
    left: 486px;
}
#read-more-2 {
    position: absolute;
    background: #36A4D5;
    color: white;
    padding: 5px 10px;
    top: 332px;
    left: 721px;
}
#read-more-3 {
    position: absolute;
    background: #36A4D5;
    color: white;
    padding: 5px 10px;
    top: 332px;
    left: 937px
}
#read-more-4 {
    position: absolute;
    background: #36A4D5;
    color: white;
    padding: 5px 10px;
    top: 579px;
    left: 721px
}
#read-more-5 {
    position: absolute;
    background: #36A4D5;
    color: white;
    padding: 5px 10px;
    top: 579px;
    left: 935px
}
#orion-const-wal {
    position: absolute;
    background:#865AB3;
    top: 786px;
    left: 364px;
    padding: 5px 10px;
    color: white;
}
#large-article {
    display: inline-block;
    height: 420px;
    position: absolute;
    background: #ffffff;
    padding: 30px 20px;
    width: 458px;
}
#articles-wrapper {
    display: inline-block;
    width: 45%;
    position: relative;
    left:530px;
    top: -8px;

}
#main-article-title {
    font-family: "Oleo Script",sans-serif;
    font-size: 48px;
}
#main-article-subtitle {
    font-size: 26px;
}
.article {
    width: 193px;
    margin: 10px;
    display: inline-block;
}
.black {
    color: #000000;
}
.text {
    padding: 5px 10px 10px 10px;
    background: #ffffff;
}
.img-container>img {
    width: 100%;
    height: 100%;
}

.blue {
    color: #36A4D5;
}
#orion-const-wal:hover {
    cursor: pointer;
    background: #50247D;
}
