<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Article</title>
</head>
<body>
    <form method="POST" action="submit-article" enctype="text/plain">
        <label for="title">Title</label><br/>
        <input type="text" name="title"><br/>

        <label for="desc">Description</label><br/>
        <input type="text" name="desc"><br/>

        <!--<label for="some-file">Image</label><br/>
        <input type="file" name="some-file"><br/><br/>-->

        <input type="submit" value="Submit">
    </form>
</body>
</html>