body {
    background: #FFC0CB;
}
label {
    font-style: italic;
}
#leftDiv {
    position: absolute;
    display: inline-block;
    margin-left: 0.5rem;
}
#rightDiv {
    display: inline-block;
    position: relative;
    margin-left: 17rem;
}
.blockLabel {
    position: relative;
    display: block;
}
div {
    display: inline-block;
}
header {
    text-align: left;
    font-weight: bold;
    font-size: 2.5rem;
    font-style: italic;
    margin-left: 7.5rem;
}
main {
    height: 25rem;
}
.long {
    width: 16rem;
}
.medium {
    width: 7.7rem;
}
.short {
    width: 5rem;
}
input[type=submit] {
    margin-top:0.3rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
}
