
#bigLogo {
    width: 22rem;
}
#smallLogo {
    width: 45px;
    height: 35px;
    margin-bottom: -0.7rem;
}
#srcWordPress {
    margin-top: 1.5rem;
    width: 12rem;
    height: 2.2rem;
}
label {
    margin-left: 1.5rem;
}
