* {
    padding: 0;
    margin: 0;
}
body {
    background: #FFC0CB;
    font-family: Tahoma;
}
header#main {
    text-align: center;
    font-weight: bold;
    font-size:40px;
    margin-top: 20px;
}
header {
    text-align: left;
    font-size: 24px;
}
section {
    display: inline-block;
    margin: 5px;
}
div {
    display:block;
    padding: 0px;
}
img {
    width: 280px;
    height: 250px;
}
meter {
    width: 240px;
    height: 30px;
}
main {
    padding: 44px;
}
audio {
    width: 380px;
}
#playerImg {
    width: 380px;
    height: 215px;
}
details[open] {
    padding-top: 69px;
    background-color: #000000;
    padding-bottom: 120px;
}
#detailsDiv {
    height: 215px;
}
#top-audio-player {
    margin-top: 55px;
}
