
header {
    padding:15px;
    background: #234465;
}
#logo-wrapper {
    display: inline-block;
    width: 29%;
    vertical-align: bottom;
}
#logo-wrapper> img {
    height: 70px;
    margin-left:30px;
}
#menu-wrapper {
    display: inline-block;
    width: 70%;
    vertical-align: super;
    margin-top: -50px;
}
#bottom-menu > ul {
    list-style: none;
    margin: 5px 0 5px -80px;
}
#bottom-menu > ul > li:hover {
    background: lightblue;
    border-radius: 5px;
}
#bottom-menu > ul > li {
    cursor: pointer;
    display: inline-block;
    padding: 7px 2px 7px 2px;
    margin: 0 0 0 40px;
    font-size: 0.905rem;
    text-transform: uppercase;
    font-family: Tahoma;
    color: #ffffff;
    font-weight: bold;
}
#bottom-menu > ul > li >ul {
    position: absolute;
    display: none;
}
#bottom-menu > ul > li:hover ul {
    display: block;
}
#bottom-menu > ul > li >ul >li {
    border-bottom: 1px solid #ffffff ;
    position: relative;
    left: -40px;
    font-family: Tahoma;
    display: block;
    height: 30px;
    width: 150px;
    background: #234465;
}
#bottom-menu > ul > li >ul >li:hover {
    background: orange;
}
#top-menu {
    height: 30px;
}
#user:hover {
    cursor: pointer;
    text-decoration: underline;
}
#user {
    vertical-align: sub;
    display: inline-block;
    color: #ffffff;
}
#notifications {
    background:#234465;
    display: inline-block;
    width: 35px;
    height: 25px;
    margin-left: 545px;
}
#notifications >img:hover {
    cursor: pointer;
    text-decoration: underline;
}
#notifications > img {
    width: 30px;
    height: 21px;
    margin: -12px;
    padding: 0px;
}

#search-wrapper {
    float: right;
    display: inline-block;
}
#user>span {
    color: #ffffff;
    font-weight: bold;
    font-family: Tahoma;
    font-size: 0.9rem;
}
input[type=text] {
    height: 23px;
    width:200px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: -5px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: baseline;
}
button[type=submit] {
    border-top-right-radius:5px;
    border-bottom-right-radius: 5px;
    background: #234465;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 30px;
    padding: 0;
    margin: 0 50px 0 0;
}
button[type=submit] > img {
    border-top-right-radius:5px;
    border-bottom-right-radius: 5px;
    width: 23px;
    height: 26px;
    margin: -7px;
}
