
footer {
    padding: 30px;
    background: #234465;
    color: #ffffff;
    font-family: Tahoma;
    font-size: 14px;
}
header {
    text-transform: uppercase;
    color: orange;
    font-weight: bold;
}
.fb-like-box {
    background: #ffffff;
}
ul {
    list-style: none;
}
section {
    display: inline-block;
    vertical-align: top;
    margin-right:15px;
    margin-left:15px;
}
a >button {
    display: block;
}
#no-hover:hover {
    cursor: text;
    color: #ffffff;
}
ul > li {
    margin-left: -40px;
    margin-bottom: 10px;
}

#buttons>a {
    text-decoration: none;
}
#buttons>a>button[type=button] {
    margin-bottom: 10px;
    width: 170px;
    height: 50px;
    border: 2px solid orange;
    background: #234465;
    color: #ffffff;
}
#buttons>a>button[type=button]:hover {
    cursor: pointer;
    background: orange;
}
ul>li>a:hover {
    cursor: pointer;
    color: orange;
}
ul>li>a {
    text-decoration: none;
    color: #ffffff;
}
#twitter {
    display: inline-block;
    background: url("sprites.jpg") repeat scroll -4px -4px transparent;
    width: 30px;
    height: 30px;
}
#facebook {
    display: inline-block;
    background: url("sprites.jpg") repeat scroll 75px -4px transparent;
    width: 30px;
    height: 30px;
}
#google-plus {
    display: inline-block;
    background: url("sprites.jpg") repeat scroll 34px -4px transparent;
    width: 30px;
    height: 30px;
}
#learning-system {
    width: 230px;
}
