body>header {
    background: #eee;
    padding: 5px;
}

body>header ul>li {
     display: inline-block;
 }
body>header ul {
    display: inline-block;
}

footer {
    background: #eee;
    padding: 5px;
    text-align: center ;
}

li.info {
    background-color: limegreen;
}

li.error {
    background: red;
}



#logged-in-info {
    float: right;
}

#logged-in-info form {
    display: inline-block;
}

#checkBoxAnchor {
    display: inline-block;
}

#checkForm {
    display: inline-block;
}

#checkBoxParagraph {
    display: inline-block;
}
#background {
    visibility: hidden;
}
#anchor {
    visibility: hidden;
}
#form {
    visibility: hidden;
}

#paragraph {
    visibility: hidden;
}
#textField {
    visibility: hidden;
}

#checkbox {
    visibility: hidden;
}

#radioButton {
    visibility: hidden;
}

#textArea {
    visibility: hidden;
}
