body {
    background-image: url("formBackground.jpg");
    background-repeat: repeat;
}
ul li {
    list-style: none;
    padding: 5px;
    border: 1px solid white;
}
span {
    border: 1px solid white;
    border-radius: 0.3em;
    margin: 0.1em;
    padding-top: 0.5em;
    padding-bottom: 0.8em;
    display: block;
    width: 25em;
    background: rgba(255,255,255,0.2)
}
.standard-input {
    margin-right: 6em;
    display: inline-block;
    float: right;
    width: 15em;
    height: 1.5em;
    border-radius:0.3em;
}

#BUTTON{
    border-radius: 2em;
    height: 2.5em;
    width: 9em;
    color: white;
    background: #04152F;
    font-weight: bold;
    float: left;
    margin-left: 11em;
    margin-top: 1.3em;
}
header {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    margin: 0.5em;
}
label {
    margin-left: 0.3em;
}

input[type=radio] {
    display: inline-block;
    margin-left: 1.5em;
}
#address {
    width: 199px;
    height: 105px;
}
#addressSpan {
    height: 7em;
}
img {
    width: 1.5em;
    height: 1em;
    margin-right: 0.3em;
}
#card {
    height: 2.5em;
}
